.signUpText{
  font-size: 21px;
  text-align: center;
}
.signupBottomText{
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
}
.signUpCard{
  width: 400px;
  min-height: 400px;
  max-width: 400px;
  box-shadow: 5px solid #fff;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  

}
.submitSignupButton{
  width: 100%;
  margin-top: 15px;
}